@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            
            <h2>“The best way to predict your future is to create it” ― Peter F. Drucker</h2>
        </hgroup>
        
    </div>
</section>
}



<div class="round"  style="height: 400px;width: 150px">
<video style="margin-left: 100px" controls="controls" autoplay="autoplay">
  <source src="videos/Binding A Form To An Action (ASP.Net MVC Part-4).mp4" type="video/mp4" />
  <source src="Binding A Form To An Action (ASP.Net MVC Part-4).ogg" type="video/ogg" />
  Your browser does not support the video tag.
</video></div>
    